.my-account-container {

}

.my-account-row {
    width: 23.5%;
    
    &__header {
        margin-bottom: 5px;
        font-size: 2rem;
    }
}

.my-account-row-link-box {
    margin-bottom: 20px;
}