.modal-button__text {
    font-size: 1.5rem;
}

.modal-body__text {
    font-size: 1.6rem;
}

.modal-header__text {
    font-size: 2rem;
}

.modal-header-custom {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.modal-body-custom {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.btn {
    padding: 8px 12px !important;
}

.modal-custom-padding {
    // padding: 100px;
}