.basket-table {
    width: 100%;
    border-radius: 15px;
    outline: 4px solid #c9d4d6;
}

.basket-table-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    &__item1 {
        width: 60%;
        text-align: left;
    }

    &__item2 {
        width: 10%;
        text-align: left;
    }

    &__item3 {
        width: 10%;
        text-align: left;
    }

    &__item4 {
        width: 20%;
    }
}

.basket-table-row-price {
    &__each {
        font-size: 1.6rem;
        color: var(--abe-red);
    }

    &__total {
        font-size: 1.6rem;
        color: var(--black);
        &--sub-total {
            font-weight: 600;
        }
    }
}

.basket-table-row-item {
    img {
        width: 72px;
    }
}

.basket-table-row-info {
    margin-left: 20px;
    font-size: 1.4rem;

    &__title {
        font-size: 1.8rem;
    }

    &__error {
        color: var(--error-red);
        margin-left: 10px;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.basket-table-row-quantity {
    span {
        margin-left: 4px;
        white-space: nowrap;
    }
}

.basket-table-row-header {
    background-color: #c9d4d6;
    border: 3px solid #c9d4d6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 2px 2px;
}

.basket-table-row-container {
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1px solid #c9d4d6;
    padding-bottom: 20px;
}

.basket-table-row-quantity-container {
    height: 25%;
    font-size: 1.6rem;
}

.basket-table-row-shipping {
    &__text {
        font-size: 1.6rem;
        margin-right: 15px;

        &--sub-total {
            font-weight: 600;
        }
    }
}

.basket-table-row-payment {
    margin-bottom: 15px;
    margin-top: 15px;
    &--sub-total {
        border-bottom: 4px solid #c9d4d6;
        padding-bottom: 20px;
    }
}

.basket-table__empty-message {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.basket-total {
    margin-top: 30px;

    &--small-margin {
        margin-top: 5px;
    }
}

.basket-total-button {
    flex: 1;
    display: flex;
    justify-content: right;

    &--first {
        flex: 2;
        justify-content: space-between;
        align-items: center;
    }
}

.basket-total-button-button {
    width: 35%;
}

.basket-total-total {
    font-size: 1.6rem;
    font-weight: 500;
    right: 20px;
    &__message {

    }

    &__price {
        color: var(--error-red);
        margin-left: 7px;
    }
}