.card-item {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px #f1f1f1;
}

.card-item__image {
    display: flex;
    img {
        object-fit: contain;
    }
}

.card-item__image {
    display: flex;
    justify-self: center;
    text-align: center;
    height: 250px;
    img {
        object-fit: contain;
        width: 100%;
    }
}

.card-item-body {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    &__title {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__description {
        display: block;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--primary-button-bg-color);
        &__arrow {
            display: block;
            margin-left: 6px;
            transition: all 0.25s linear;
        }

        &:hover &__arrow {
            transform: translateX(5px);
        }
    }
}
