.input-dropdown {
    
}

.input-dropdown-input {
    display: flex;
    flex-direction: column;
    &__input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #9d9d9d;
        font-size: 1.4rem;
        padding: 8px 10px;
        height: inherit;
        line-height: 1rem;
        background-color: #dcedff;
        &::placeholder {
            color: var(--black);
        }

        &--invalid {
            border: 1px solid #ff0033;
        }
    }
}

.input-dropdown-popover {
    width: 100%;
}

.input-dropdown-container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.input-dropdown-data {
    width: 100%;
    height: inherit;
    z-index: 10;
    background-color: var(--white);
    padding: 8px 10px;
    border: 1px solid #9d9d9d;
    cursor: pointer;
    display: flex;
    justify-content: left;
    font-size: 1.3rem;
    
    &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &:hover {
        background-color: #b3b3b3;
    }
}