.book-intro {
    
}

.book-intro-image {
    img {
        height: 300px;
    }
}

.book-intro-details {
    margin-left: 40px;
}

.book-intro-details-characteristics {
    margin-bottom: 20px;
}

.book-intro-details-characteristic {
    margin-right: 4px;
}